.color{
    width: 100px;
    height: 100px;
    margin-top: 25px;
    display: none;
}

/*.green{
    background: #008000;
}

.red{
    background: #FF0000;
}

.blue{
    background: #0000FF;
}

.purple{
	background: #800080;
}*/